

.back-btn {
  font-size: 1.5em;
  font-weight: bolder;
  vertical-align: middle;
}

.windowed .hero-body, .city-tile .mesh {
  background-image: url('images/black-mesh.png');
  background-repeat: repeat;
}

.city-tile {
  min-height: 300px;
  cursor: pointer;
}

.city-tile .full-block {
  width: 100%;
  height: 100%;
}

.city-tile .mesh {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.city-tile h2 {
  color: white;
}

#rissani-bg {
  background-image: url('images/rissani1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tokyo-r_bg {
  background-image: url('images/tokyo_007.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tokyo-r_01 {
  background-image: url('images/tokyo_002.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
